@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns:4fr;
    background-color: #25e2e9;
}

.header {
    padding: 0 2rem;
    color: #000;
    background-color: #25e2e9;
    top: 0;
}

.logo {
    text-align: center;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}

.boton-menu.active {
    background-color: #fff;
    color: #000;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.boton-menu.active::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 0;
    right: 100%;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 #fff;
}

.boton-menu.active::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 0;
    left: 100%;
    background-color: transparent;
    border-bottom-left-radius: .5rem;
    box-shadow: 0 1rem 0 #fff;
}
.numerito {
    background-color: #fff;
    color: #000;
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: #000;
    color: #fff;
}
main {
    background-color: #fff;
    margin: 1rem;
    margin-top: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal {
    color: #000;
    margin-bottom: 2rem;
    text-align: center;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    background-color: #e2e2e2;
    color: #000;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    text-align: center;
}

.producto-titulo {
    font-size: 1rem;
    text-align: center;
}

.producto-agregar {
    border: 0;
    background-color: #fff;
    color: #000;
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid #fff;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover {
    background-color: #9b8a87;
    color: #fff;
}


/** CARRITO **/
.car {
    background-color: #25e2e9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.car .logo {
    margin-bottom: 15px;
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: #000;
    text-align: center;
    font-size: 3rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e2e2;
    color: #000;
    padding: .8rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4.2rem;
    border-radius: 1rem;
}

.carrito-producto {
    font-size: 1.4rem;
}

.carrito-producto-eliminar {
    border: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #961818;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    background-color: #e2e2e2;
    padding: 1rem;
    border-radius: 1rem;
    color: #000;
    font-size: 1.15rem;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.carrito-acciones-total {
    display: flex;
    justify-content: center;
    background-color: #ececec;
    padding: 1rem;
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    background-color: #789091;
    padding: 1rem;
    color: #000;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.carrito-acciones-comprar:hover {
    background-color: #25e2e9;
    color: #000;
}


.disabled {
    display: none;
}